.JTKCbIy53hTvOaV54CU6{display:grid;grid-template-columns:1fr 1fr;grid-gap:20px;gap:20px}.CFm9Ul5cx7vfxW3YMYi1{text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex}.UdxtK0qkYJseTVccuqNp{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;border-radius:4px;-webkit-transition:250ms cubic-bezier(0.4, 0, 0.2, 1);-o-transition:250ms cubic-bezier(0.4, 0, 0.2, 1);transition:250ms cubic-bezier(0.4, 0, 0.2, 1);-webkit-transition-property:color,-webkit-box-shadow,-webkit-transform;transition-property:color,-webkit-box-shadow,-webkit-transform;-o-transition-property:color,box-shadow,transform;transition-property:color,box-shadow,transform;transition-property:color,box-shadow,transform,-webkit-box-shadow,-webkit-transform}.UdxtK0qkYJseTVccuqNp:hover,.UdxtK0qkYJseTVccuqNp:focus{color:#a25f4b;-webkit-box-shadow:1px 2px 3px 2px rgba(162,95,75,.1);box-shadow:1px 2px 3px 2px rgba(162,95,75,.1)}.UdxtK0qkYJseTVccuqNp:hover{outline:1px solid rgba(162,95,75,.21)}.UdxtK0qkYJseTVccuqNp:focus{outline:1px solid #a25f4b}.w5GeNOLplwIovcSegPWs{max-width:460px;margin-bottom:35px;contain:content}.UXbkwbOXCq6pEfLMbAZf{-webkit-transition:250ms cubic-bezier(0.4, 0, 0.2, 1);-o-transition:250ms cubic-bezier(0.4, 0, 0.2, 1);transition:250ms cubic-bezier(0.4, 0, 0.2, 1);-webkit-transition-property:-webkit-filter,-webkit-transform;transition-property:-webkit-filter,-webkit-transform;-o-transition-property:filter,transform;transition-property:filter,transform;transition-property:filter,transform,-webkit-filter,-webkit-transform}.UdxtK0qkYJseTVccuqNp:hover .UXbkwbOXCq6pEfLMbAZf,.UdxtK0qkYJseTVccuqNp:focus .UXbkwbOXCq6pEfLMbAZf{-webkit-filter:brightness(1.05);filter:brightness(1.05);-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}.FsYNJcb1gXRFMdwPXy_g{margin-bottom:5px;font-size:20px;line-height:1.5;color:#1d1f2e;text-transform:capitalize;-webkit-transition:250ms cubic-bezier(0.4, 0, 0.2, 1) color;-o-transition:250ms cubic-bezier(0.4, 0, 0.2, 1) color;transition:250ms cubic-bezier(0.4, 0, 0.2, 1) color}.UdxtK0qkYJseTVccuqNp:hover .FsYNJcb1gXRFMdwPXy_g,.UdxtK0qkYJseTVccuqNp:focus .FsYNJcb1gXRFMdwPXy_g{color:#a25f4b}.PbRn59i5HbVNeAYne3zd{font-size:16px;line-height:1.75;color:rgba(29,31,46,.7)}.R_ANWqsJDd2uygwWIFOy{margin-right:10px;font-size:19px;line-height:1.68;color:#a25f4b}.vw0QxJGTvA55J9h5FiLy{-webkit-text-decoration-line:line-through;text-decoration-line:line-through;font-size:16px;line-height:1.75;color:rgba(29,31,46,.4)}
.omX4HArsms3lQ4UkEBto{display:grid;grid-template-columns:1fr 1fr;grid-gap:20px;gap:20px}.IVPUhh11hhMT7c1jM6CO{text-align:center;display:-webkit-box;display:-ms-flexbox;display:flex}.P7M6llFOkw3rw4MkdsQs{-webkit-box-flex:1;-ms-flex-positive:1;flex-grow:1;border-radius:4px;-webkit-transition:250ms cubic-bezier(0.4, 0, 0.2, 1);-o-transition:250ms cubic-bezier(0.4, 0, 0.2, 1);transition:250ms cubic-bezier(0.4, 0, 0.2, 1);-webkit-transition-property:color,-webkit-box-shadow,-webkit-transform;transition-property:color,-webkit-box-shadow,-webkit-transform;-o-transition-property:color,box-shadow,transform;transition-property:color,box-shadow,transform;transition-property:color,box-shadow,transform,-webkit-box-shadow,-webkit-transform}.P7M6llFOkw3rw4MkdsQs:hover,.P7M6llFOkw3rw4MkdsQs:focus{color:#a25f4b;-webkit-box-shadow:1px 2px 3px 2px rgba(162,95,75,.1);box-shadow:1px 2px 3px 2px rgba(162,95,75,.1)}.P7M6llFOkw3rw4MkdsQs:hover{outline:1px solid rgba(162,95,75,.21)}.P7M6llFOkw3rw4MkdsQs:focus{outline:1px solid #a25f4b}.m95OFNQzhmgTDeWS_kjW{max-width:460px;margin-bottom:35px;contain:content}.RZAUsMXIt6RtdX0chlEh{-webkit-transition:250ms cubic-bezier(0.4, 0, 0.2, 1);-o-transition:250ms cubic-bezier(0.4, 0, 0.2, 1);transition:250ms cubic-bezier(0.4, 0, 0.2, 1);-webkit-transition-property:-webkit-filter,-webkit-transform;transition-property:-webkit-filter,-webkit-transform;-o-transition-property:filter,transform;transition-property:filter,transform;transition-property:filter,transform,-webkit-filter,-webkit-transform}.P7M6llFOkw3rw4MkdsQs:hover .RZAUsMXIt6RtdX0chlEh,.P7M6llFOkw3rw4MkdsQs:focus .RZAUsMXIt6RtdX0chlEh{-webkit-filter:brightness(1.05);filter:brightness(1.05);-webkit-transform:scale(1.05);-ms-transform:scale(1.05);transform:scale(1.05)}.EJQkG4_W6qp3GPg691Z4{margin-bottom:5px;font-size:20px;line-height:1.5;color:#1d1f2e;text-transform:capitalize;-webkit-transition:250ms cubic-bezier(0.4, 0, 0.2, 1) color;-o-transition:250ms cubic-bezier(0.4, 0, 0.2, 1) color;transition:250ms cubic-bezier(0.4, 0, 0.2, 1) color}.P7M6llFOkw3rw4MkdsQs:hover .EJQkG4_W6qp3GPg691Z4,.P7M6llFOkw3rw4MkdsQs:focus .EJQkG4_W6qp3GPg691Z4{color:#a25f4b}.N9ndubQ3GlmTxJqn13rs{font-size:16px;line-height:1.75;color:rgba(29,31,46,.7)}.C9c1Yv10UiygVtgAU1Ub{margin-right:10px;font-size:19px;line-height:1.68;color:#a25f4b}.bQf0ZLfCJrZaQT3huUoS{-webkit-text-decoration-line:line-through;text-decoration-line:line-through;font-size:16px;line-height:1.75;color:rgba(29,31,46,.4)}.omX4HArsms3lQ4UkEBto{display:grid;grid-template-columns:1fr 1fr 1fr;grid-row-gap:50px;row-gap:50px;grid-column-gap:17px;-webkit-column-gap:17px;-moz-column-gap:17px;column-gap:17px}.m95OFNQzhmgTDeWS_kjW{max-width:300px}
/*! modern-normalize v1.1.0 | MIT License | https://github.com/sindresorhus/modern-normalize */

/*
Document
========
*/

/**
Use a better box model (opinionated).
*/

*,
::before,
::after {
	box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/

html {
	-moz-tab-size: 4;
	tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/

html {
	line-height: 1.15; /* 1 */
	-webkit-text-size-adjust: 100%; /* 2 */
}

/*
Sections
========
*/

/**
Remove the margin in all browsers.
*/

body {
	margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/

body {
	font-family:
		system-ui,
		-apple-system, /* Firefox supports this but not yet `system-ui` */
		'Segoe UI',
		Roboto,
		Helvetica,
		Arial,
		sans-serif,
		'Apple Color Emoji',
		'Segoe UI Emoji';
}

/*
Grouping content
================
*/

/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/

hr {
	height: 0; /* 1 */
	color: inherit; /* 2 */
}

/*
Text-level semantics
====================
*/

/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr[title] {
	text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/

b,
strong {
	font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
	font-family:
		ui-monospace,
		SFMono-Regular,
		Consolas,
		'Liberation Mono',
		Menlo,
		monospace; /* 1 */
	font-size: 1em; /* 2 */
}

/**
Add the correct font size in all browsers.
*/

small {
	font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

/*
Tabular data
============
*/

/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/

table {
	text-indent: 0; /* 1 */
	border-color: inherit; /* 2 */
}

/*
Forms
=====
*/

/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/

button,
input,
optgroup,
select,
textarea {
	font-family: inherit; /* 1 */
	font-size: 100%; /* 1 */
	line-height: 1.15; /* 1 */
	margin: 0; /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/

button,
select { /* 1 */
	text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/

button,
[type='button'],
[type='reset'],
[type='submit'] {
	-webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/

::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/

:-moz-focusring {
	outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/

:-moz-ui-invalid {
	box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/

legend {
	padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
	vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
	height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
	-webkit-appearance: textfield; /* 1 */
	outline-offset: -2px; /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
	-webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/

::-webkit-file-upload-button {
	-webkit-appearance: button; /* 1 */
	font: inherit; /* 2 */
}

/*
Interactive
===========
*/

/*
Add the correct display in Chrome and Safari.
*/

summary {
	display: list-item;
}

body{font-family:"Karla",sans-serif}h1,h2,h3,p,body,ul,ol{margin:0;padding:0}a{text-decoration:none}ul,ol{list-style:none}img{display:block;width:100%;height:auto}.container{max-width:480px;margin:0 auto;padding:0 30px}@media screen and (min-width: 768px){.container{max-width:768px;padding:0 100px}}@media screen and (min-width: 1440px){.container{max-width:1440px;padding:0 250px}}.section{padding:50px 0}.section__title{margin-bottom:100px;font-weight:400;font-size:12px;line-height:1.5;text-align:center;letter-spacing:2px;text-transform:uppercase;color:#1d1f2e}.section__title-text{position:relative}.section__title-text::before,.section__title-text::after{position:absolute;content:"";top:50%;width:30px;height:1px;background-color:#ececed}.section__title-text::before{left:-45px}.section__title-text::after{right:-45px}@font-face{font-family:"Karla";font-style:normal;font-weight:400;src:local("Karla"),url(fonts/karla-v21-latin-regular.woff2) format("woff2"),url(fonts/karla-v21-latin-regular.woff) format("woff")}
