.featured-products__list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.featured-product__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.featured-product__thumb {
  width: 320px;
}
