.section {
  padding: 20px 0;
  contain: content;

  @media screen and (min-width: $tablet) {
    padding: 35px 0;
  }

  @media screen and (min-width: $desktop) {
    padding: 50px 0;
  }
}

.section__title {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
  text-transform: uppercase;

  color: #1d1f2e;

  @media screen and (min-width: $tablet) {
    margin-bottom: 60px;
  }

  @media screen and (min-width: $desktop) {
    margin-bottom: 100px;
  }

  &-text {
    position: relative;

    &::before,
    &::after {
      position: absolute;
      content: '';
      top: 50%;
      width: 30px;
      height: 1px;
      background-color: $theme-light-second;
    }
    &::before {
      left: -45px;
    }
    &::after {
      right: -45px;
    }
  }
}
