@import '../featured-products/featured-products-list.module.scss';

.list {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 30px;
  column-gap: 10px;

  @media screen and (min-width: $desktop) {
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 50px;
    column-gap: 17px;
  }
}
.item {
  &:not(:nth-of-type(1)) {
    display: block;
  }

  @media screen and (max-width: $tablet) {
    &:nth-of-type(n + 5) {
      display: none;
    }
  }
}
// .link {}
.thumb {
  max-width: 300px;
}
.image {
  .link:hover &,
  .link:focus & {
    filter: brightness(1.02);
  }
}
// .meta {}
// .name {}
// .prices {}
// .normalPrice {}
// .salePrice {}
// .oldPrice {}
